@use "../inc/vars" as *;
@use "../inc/media" as *;
.button {
    padding: 45px 0;
    @include mq-inv-desktop {
        padding: 30px 0;
    }
    .btn {
        max-width: 820px;
        width: 100%;
    }
}
