@use "../inc/vars" as *;
@use "../inc/media" as *;
.title_category {
    padding: 85px 0;
    @include mq-inv-desktop {
        padding: 40px 0;
    }
    @include mq-inv-small {
        padding: 30px 0;
    }
    &-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        @include mq-inv-small {
            gap: 10px;
        }
    }
}
